.pd {
  &-container {
    padding: 16px 0;
  }

  &-loading {
    &-image {
      width: 180px;
      height: 180px;
      margin: 0 auto;
    }

    &-detail {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &-image {
    max-width: 180px;
    max-height: 180px;
    width: 180px;
    height: 180px;
    background-color: var(--color-white);
    border: 1px solid var(--color-neutral-2);
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    margin: 0 auto;

    img {
      min-height: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;

      &:only-child {
       grid-column: span 2;
      }
    }
  }

  &-card {
    border-right: none;
    border-left: none;
    border-radius: 0;

    &__separator {
      height: 1px;
      background-color: var(--color-neutral-2);
      border: none;
      margin: 20px 0;
    }
  }

  &-description-list {
    > div {
      padding-left: 0;
      padding-right: 0;
      padding: 8px 0;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }

    dt {
      width: 50px;
      flex-shrink: 1;
    }
  }

  &-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 16px;

    &__image {
      width: 80px;
      height: 80px;
      border: 1px solid rgba(46, 64, 87, 0.4);
      border-radius: 4px;
      overflow: hidden;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }
    }

    &__detail {
      flex: 1 1 auto;
    }

    &__name {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 0;
    }

    &__description {
      opacity: 0.8;
      margin-top: 8px;
      margin-bottom: 0;
    }

    &[data-inactive] {
      filter: grayscale(1);
    }
  }

  &-dialog-delete {
    &__actions {
      display: flex;
      gap: 16px;
      padding: 16px;
    }
  }
}


@include screen-md {
  .pd {
    &-container {
      padding: 16px;
    }

    &-loading {
      &-image {
        width: 240px;
        height: 240px;
      }
    }

    &-image {
      max-width: 240px;
      max-height: 240px;
      width: 240px;
      height: 240px;
    }

    &-card {
      border-right: 1px solid var(--color-neutral-2);
      border-left: 1px solid var(--color-neutral-2);
      border-radius: 8px;
    }
  }
}
