$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

@mixin screen-sm {
  @media screen and (min-width: $screen-sm) {
    @content;
  }
};

@mixin screen-landscape-sm {
  @media screen and (min-width: $screen-sm) and (orientation: landscape) {
    @content;
  }
};

@mixin screen-md {
  @media screen and (min-width: $screen-md) {
    @content;
  }
};

@mixin screen-landscape-md {
  @media screen and (min-width: $screen-md) and (orientation: landscape) {
    @content;
  }
};

@mixin screen-lg {
  @media screen and (min-width: $screen-lg) {
    @content;
  }
};

@mixin screen-landscape-lg {
  @media screen and (min-width: $screen-lg) and (orientation: landscape) {
    @content;
  }
};

@mixin screen-xl {
  @media screen and (min-width: $screen-xl) {
    @content;
  }
};

@mixin screen-landscape-xl {
  @media screen and (min-width: $screen-xl) and (orientation: landscape) {
    @content;
  }
};

@mixin screen-xxl {
  @media screen and (min-width: $screen-xxl) {
    @content;
  }
};

@mixin screen-landscape-xxl {
  @media screen and (min-width: $screen-xxl) and (orientation: landscape) {
    @content;
  }
};

@mixin screen-rwd($screen) {
  @media screen and (min-width: $screen + 'px') {
    @content;
  }
}

@mixin screen-landscape-rwd($screen) {
  @media screen and (min-width: $screen + 'px') and (orientation: landscape) {
    @content;
  }
}
