.product-form {
  &-image {
    max-width: 180px;
    width: 180px;
    margin: 0 auto;

    label {
      max-height: 180px;
      height: 180px;
      background-color: var(--color-white);
      border: 1px solid var(--color-neutral-2);
      border-radius: 8px;
      display: block;
      overflow: hidden;
    }

    picture {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    input[type="file"] {
      display: none;
    }

    &__actions {
      display: flex;
      gap: 8px;
      align-items: center;
      margin-top: 8px;
    }

    &--variant {
      max-width: 120px;
      width: 120px;

      label {
        max-height: 120px;
        height: 120px;
      }
    }
  }

  &-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  &-variants {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &-variant {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      background-color: var(--color-black);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      overflow: hidden;
    }

    &__title {
      color: var(--color-white);
      font-size: 16px;
      line-height: 28px;
      font-weight: 600;
      padding: 0 16px;
    }

    &__remove {
      background-color: var(--color-red-4);
      border: none;
      cursor: pointer;
      transition: box-shadow var(--transition-duration-normal) var(--transition-timing-function);
      padding: 16px;
      margin: 0;

      compos-icon {
        color: var(--color-white);
        transition: transform var(--transition-duration-normal) var(--transition-timing-function);
      }

      &:active {
        box-shadow: inset 0 0 56px rgba(37, 52, 70, 0.28);

        compos-icon {
          transform: scale(0.86);
        }
      }
    }

    &__body {
      border-width: 0 1px 1px 1px;
      border-style: solid;
      border-color: var(--color-black);
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      padding: 16px;
    }
  }
}

.product-selection {
  .cp-dialog-body {
    padding: 0;
  }

  &-search {
    min-width: 100px;
    font-size: var(--text-body-medium-size);
    line-height: var(--text-body-medium-height);
    flex-grow: 1;
    height: 40px;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    outline: none;
    padding: 0 16px;
    margin: 0 16px;
  }

  &-navigation {
    background-color: var(--color-white);
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
    display: flex;

    &__detail {
      white-space: nowrap;
      text-align: center;
      border: 1px solid var(--color-black);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      padding: 0 8px;
    }
  }
}

.sales-form {
  &-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

@include screen-md {
  .product-form {
    &-image {
      max-width: 240px;
      width: 240px;

      label {
        max-height: 240px;
        height: 240px;
        overflow: hidden;
      }

      &--variant {
        max-width: 120px;
        width: 120px;

        label {
          max-height: 120px;
          height: 120px;
        }
      }
    }
  }
}
