.pd {
  &-container {
    padding: 16px 0;
  }

  &-card {
    border-right: none;
    border-left: none;
    border-radius: 0;

    hr {
      height: 1px;
      background-color: var(--color-neutral-2);
      border: none;
      margin: 20px 0;
    }
  }

  &-description-list {
    > div {
      padding-left: 0;
      padding-right: 0;
      padding: 8px 0;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }

    dt {
      width: 50px;
      flex-shrink: 1;
    }
  }

  &-dialog {
    &--delete {
      .pd-dialog__actions {
        display: flex;
        gap: 16px;
        padding: 16px;
      }
    }
  }
}

@include screen-md {
  .pd {
    &-container {
      padding: 16px;
    }

    &-card {
      border-right: 1px solid var(--color-neutral-2);
      border-left: 1px solid var(--color-neutral-2);
      border-radius: 8px;
    }
  }
}
