:root {
  // Monochromatic Color
  --color-neutral-1: #F2F3F8;
  --color-neutral-2: #D8DADF;
  --color-neutral-3: #BEC0C7;
  --color-neutral-4: #A4A7AE;
  --color-neutral-5: #898D95;
  --color-neutral-6: #6F747D;
  --color-neutral-7: #555A64;
  --color-red-1: #F6CACC;
  --color-red-2: #F1A7A9;
  --color-red-3: #EC8385;
  --color-red-4: #E66063;
  --color-red-5: #E35053;
  --color-red-6: #DD2C2F;
  --color-red-7: #D02224;
  --color-green-1: #B7EFC5;
  --color-green-2: #92E6A7;
  --color-green-3: #6EDE8A;
  --color-green-4: #4AD66D;
  --color-green-5: #2DC653;
  --color-green-6: #25A244;
  --color-green-7: #208B3A;
  --color-blue-1: #D6E7FF;
  --color-blue-2: #ADCEFF;
  --color-blue-3: #85B6FF;
  --color-blue-4: #5C9DFF;
  --color-blue-5: #237BFF;
  --color-blue-6: #0A6CFF;
  --color-blue-7: #005AE0;
  --color-yellow-1: #FFFAE5;
  --color-yellow-2: #FFF6CC;
  --color-yellow-3: #FFF2B2;
  --color-yellow-4: #FFEE99;
  --color-yellow-5: #FFE97F;
  --color-yellow-6: #FFE566;
  --color-yellow-7: #FFE14C;



  // Base Color
  // Alternate for color-black #0d1317
  --color-background: #FAFAFF;
  --color-black: #2E4057;
  --color-white: #FFFFFF;
  --color-primary: var(--color-blue-3);
  --color-secondary: var(--color-red-3);
  --color-success: var(--color-green-3);
  --color-danger: var(--color-red-3);
  --color-warning: var(--color-yellow-3);

  // Neutral Color
  --color-disabled-background: #FCF7F8;
  --color-disabled-border: #CED3DC;

  // State Color
  --color-error: var(--color-red-3);
  --color-success: var(--color-green-3);
  --color-info: var(--color-blue-3);
  --color-disabled: #FCF7F8;
  --color-disabled-2: #B5B3BA;

  --color-focus-outline: var(--color-blue-5);

  // Typpography
  --text-heading-family: "Nunito", sans-serif;
  --text-body-family: "DM Sans", sans-serif;
  --text-heading-1-size: 26px;
  --text-heading-2-size: 24px;
  --text-heading-3-size: 22px;
  --text-heading-4-size: 20px;
  --text-heading-5-size: 18px;
  --text-heading-6-size: 16px;
  --text-heading-1-height: 32px;
  --text-heading-2-height: 30px;
  --text-heading-3-height: 28px;
  --text-heading-4-height: 26px;
  --text-heading-5-height: 24px;
  --text-heading-6-height: 22px;
  --text-body-large-size: 16px;
  --text-body-medium-size: 14px;
  --text-body-small-size: 12px;
  --text-body-micro-size: 10px;
  --text-body-large-height: 20px;
  --text-body-medium-height: 18px;
  --text-body-small-height: 16px;
  --text-body-micro-height: 14px;

  // Transition
  --transition-duration-very-fast: 200ms;
  --transition-duration-fast: 240ms;
  --transition-duration-normal: 280ms;
  --transition-duration-slow: 320ms;
  --transition-duration-very-slow: 360ms;
  --transition-timing-function: cubic-bezier(0.63, 0.01, 0.29, 1);
}

@include screen-md {
  :root {
    --text-heading-1-size: 36px;
    --text-heading-2-size: 32px;
    --text-heading-3-size: 28px;
    --text-heading-4-size: 24px;
    --text-heading-5-size: 20px;
    --text-heading-6-size: 16px;
    --text-heading-1-height: 44px;
    --text-heading-2-height: 40px;
    --text-heading-3-height: 36px;
    --text-heading-4-height: 32px;
    --text-heading-5-height: 28px;
    --text-heading-6-height: 24px;
  }
}
