:root {
  // Monochromatic Color
  --color-red-1: #DC0909;
  --color-red-2: #F10909;
  --color-red-3: #F43839;
  --color-red-4: #F66C6D;
  --color-red-5: #FA9C9E;
  --color-green-1: #049153;
  --color-green-2: #05A962;
  --color-green-3: #06C270;
  --color-green-4: #07DB7E;
  --color-green-5: #08F38D;
  --color-blue-1: #004FC4;
  --color-blue-2: #0059DE;
  --color-blue-3: #0063F7;
  --color-blue-4: #1271FF;
  --color-blue-5: #2B80FF;

  // Base Color
  --color-black: #2E4057;
  --color-white: #FFFFFF;
  --color-primary: var(--color-blue-3);
  --color-secondary: var(--color-red-3);
  --color-success: var(--color-green-3);
  --color-danger: var(--color-red-3);

  // Neutral Color
  --color-disabled-background: #FCF7F8;
  --color-disabled-border: #CED3DC;

  // State Color
  --color-error: var(--color-red-3);
  --color-success: var(--color-green-3);
  --color-info: var(--color-blue-3);
  --color-disabled: #FCF7F8;
  --color-disabled-2: #B5B3BA;
}
