.product-detail {
  &-image {
    width: 180px;
    height: 180px;
  }

  &-list {
    &.cp-description-list--horizontal {
      > div {
        padding-left: 0;
        padding-right: 0;
        padding: 8px 0;

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }

      dt {
        width: 50px;
        flex-shrink: 1;
      }
    }
  }

  &-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 16px;

    &__image {
      width: 80px;
      height: 80px;
      border: 1px solid rgba(46, 64, 87, 0.4);
      border-radius: 4px;
      overflow: hidden;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }
    }

    &__body {
      flex: 1 1 auto;
    }

    &__name {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 0;
    }

    &__info {
      opacity: 0.8;
      margin-top: 4px;
      margin-bottom: 0;
    }

    &[data-inactive] {
      filter: grayscale(1);
    }
  }
}

@include screen-md {
  .product-detail {
    &-image {
      width: 240px;
      height: 240px;
    }
  }
}
