.cp-page {
  @include page;
}

.cp-container {
  &.page-container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.cp-card {
  &.section-card {
    border-right: none;
    border-left: none;
    border-radius: 0;

    + .section-card {
      margin-top: 16px;
    }

    .cp-card__header {
      background-color: var(--color-neutral-1);
      border-bottom: 1px solid var(--color-border);

      + .cp-card__body {
        padding-top: 16px;
      }
    }
  }
}

// Utilities
.text-truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.button {
  color: var(--color-black);

  &--clear {
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }

  &--icon {
    line-height: 1px;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: transform var(--transition-duration-normal) var(--transition-timing-function);

    &:active {
      transform: scale(0.9);
    }
  }

  &:focus {
    outline: 2px dashed var(--color-blue-4);
    outline-offset: 4px;
  }
}

.dialog {
  &-actions {
    display: flex;
    gap: 16px;
    padding: 16px;
  }
}

.padding {
  --padding-top: var(--app-padding, 16px);
  --padding-bottom: var(--app-padding, 16px);
  --padding-start: var(--app-padding, 16px);
  --padding-end: var(--app-padding, 16px);

  &-top {
    --padding-top: var(--app-padding, 16px);
  }

  &-bottom {
    --padding-bottom: var(--app-padding, 16px);
  }

  &-start {
    --padding-start: var(--app-padding, 16px);
  }

  &-end {
    --padding-end: var(--app-padding, 16px);
  }
}

@media screen and (max-width: 767px) {
  .cp-ticker {
    &.page-ticker {
      border-left: none;
      border-right: none;
      border-radius: 0;
    }
  }
}

@include screen-md {
  .cp-container {
    &.page-container {
      padding-right: 16px;
      padding-left: 16px;
    }
  }

  .cp-card {
    &.section-card {
      border-right: 1px solid var(--color-neutral-2);
      border-left: 1px solid var(--color-neutral-2);
      border-radius: 8px;
    }
  }
}
