.cp {
  &-page {
    @include page;
  }

  &-container {
    &.page-container {
      --padding-top: 16px;
      --padding-bottom: 16px;
    }
  }

  &-card {
    &.section-card {
      border-right: none;
      border-left: none;
      border-radius: 0;

      + .section-card {
        margin-top: 16px;
      }

      .cp-card__header {
        background-color: var(--color-neutral-1);
        background-image: linear-gradient(120deg, var(--color-white) 0%, var(--color-neutral-1) 100%);
        border-bottom: 1px solid var(--color-border);

        + .cp-card__body {
          padding-top: 16px;
        }
      }
    }
  }
}

// Utilities
.text-truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.button {
  color: var(--color-black);

  &--clear {
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }

  &--icon {
    line-height: 1px;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: transform var(--transition-duration-normal) var(--transition-timing-function);

    &:active {
      transform: scale(0.9);
    }
  }

  &:focus {
    outline: 2px dashed var(--color-blue-4);
    outline-offset: 4px;
  }
}

.dialog {
  &-actions {
    display: flex;
    gap: 16px;
    padding-top: var(--padding-top, 16px);
    padding-bottom: var(--padding-bottom, 16px);
    padding-inline-start: var(--padding-start, 16px);
    padding-inline-end: var(--padding-end, 16px);
  }
}

.padding {
  --padding-top: var(--app-padding, 16px);
  --padding-bottom: var(--app-padding, 16px);
  --padding-start: var(--app-padding, 16px);
  --padding-end: var(--app-padding, 16px);

  &-0 {
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
  }

  &-top {
    --padding-top: var(--app-padding, 16px);

    &-0 {
      --padding-top: 0;
    }
  }

  &-bottom {
    --padding-bottom: var(--app-padding, 16px);

    &-0 {
      --padding-bottom: 0;
    }
  }

  &-start {
    --padding-start: var(--app-padding, 16px);

    &-0 {
      --padding-start: 0;
    }
  }

  &-end {
    --padding-end: var(--app-padding, 16px);

    &-0 {
      --padding-end: 0;
    }
  }
}

.margin {
  --margin-top: var(--app-margin, 16px);
  --margin-bottom: var(--app-margin, 16px);
  --margin-start: var(--app-margin, 16px);
  --margin-end: var(--app-margin, 16px);

  &-0 {
    --margin-top: 0;
    --margin-bottom: 0;
    --margin-start: 0;
    --margin-end: 0;
  }

  &-top {
    --margin-top: var(--app-margin, 16px);

    &-0 {
      --margin-top: 0;
    }
  }

  &-bottom {
    --margin-bottom: var(--app-margin, 16px);

    &-0 {
      --margin-bottom: 0;
    }
  }

  &-start {
    --margin-start: var(--app-margin, 16px);

    &-0 {
      --margin-start: 0;
    }
  }

  &-end {
    --margin-end: var(--app-margin, 16px);

    &-0 {
      --margin-end: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .cp-ticker {
    &.page-ticker {
      border-left: none;
      border-right: none;
      border-radius: 0;
    }
  }
}

@include screen-md {
  .cp-container {
    &.page-container {
      --padding-start: 16px;
      --padding-end: 16px;
    }
  }

  .cp-card {
    &.section-card {
      border-right: 1px solid var(--color-neutral-2);
      border-left: 1px solid var(--color-neutral-2);
      border-radius: 8px;
    }
  }
}
