@import './variables';
@import './normalizer';

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  touch-action: manipulation;
}

html {
  font-size: 14px;
  box-sizing: border-box;
}

@supports (-webkit-touch-callout: none) and (font: -apple-system-body) {
  html {
    font: var(--text-dynamic-font, 16px var(--text-body-family));
  }
}

body {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  color: var(--color-black, #2E4057);
  background-color: var(--color-background);
  font-family: var(--text-body-family);
  @include text-body-md;
  font-weight: 400;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  overflow: hidden;
  overscroll-behavior-y: none;
  touch-action: manipulation;
  position: fixed;
  margin: 0;
  padding: 0;
  transform: translateZ(0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--text-heading-family);
  font-weight: 600;
}

h1 {
  @include text-heading-1;
}

h2 {
  @include text-heading-2;
}

h3 {
  @include text-heading-3;
}

h4 {
  @include text-heading-4;
}

h5 {
  @include text-heading-5;
}

h6 {
  @include text-heading-6;
}

ul {
  padding-inline-start: var(--padding-start, 24px);
  margin-top: var(--margin-top, 12px);
  margin-bottom: var(--margin-bottom, 12px);
}
